#log-output, #source-code, #cst-output, #ast-output, #code-output {
     width: 100%;
     height: 300px;
 }

#source-code {
    font-family: monospace;
}

.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none !important;

}

#test-programs-anchor {
    color: black;
}